* {
  box-sizing: border-box;
}

.seams-profile-button-morphable {
  position: relative;
  background-color: var(--seams-colors-colorBackground);
  border: 1px solid var(--seams-colors-borderPrimary);
  border-radius: 2rem;
  box-shadow: var(--seams-shadows-sm);
  font-size: 14px;
  font-weight: 500;
  color: var(--seams-colors-textPrimary);
  cursor: pointer;
  outline: none;
  overflow: visible;
  width: fit-content;
  transition: none;
}

.seams-profile-button-morphable:hover {
  border-color: var(--seams-colors-borderHover);
}
